{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ block.super }}
    <link href="{% static 'home/index.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom sticky-top rounded-bottom navbar-custom" id="navId">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Simple header</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#home" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#features" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </nav>

    <main data-bs-spy="scroll" data-bs-target="#navId" tabindex="0">
        <div class="hero-rectangle rounded-4 d-flex flex-column justify-content-center align-items-center mb-5" id="home">
            <h1 class="hero-title">Simple, But Practical</h1>
            <a type="button" class="btn btn-primary" href="/login/">Large button</a>
        </div>

        <div class="row row-cols-1 row-cols-lg-2 align-items-center mb-5">
            <div class="col">
                <h2>What is Telegraph?</h2>
                <p>
                    Telegraph is Telegram based client. All of your chats are synced between Telegram server and other Telegram
                    clients. Telegraph is not including all Telegram features, it just has the main ones, But has some practical
                    automated and statistic features that can help you to enjoy chatting. Telegraph is a layer between Telegram
                    and you, so you can use it to break filtering in your country.
                </p>
            </div>
            <div class="col text-center">
                <img src="{% static 'home/icons/password.png' %}" class="img-fluid" alt="Telegraph" width="260px">
            </div>
        </div>

        <h2 class="mb-3" id="features">Features</h2>

        <div class="row row-cols-1 row-cols-lg-3 md-3 g-5">
            <div class="col">
                <h3>Secure</h3>
                <p>
                Telegraph is using Telegram API, so it is as secure as Telegram. Telegraph is not storing any of your
                data, you can be sure that your data is safe.
            </p>
            </div>
            <div class="col">
                <h3>Open Source</h3>
                <p>
                    Telegraph is open source, so you can check the code and be sure that it is safe.
                    It is available on <a href="https://github.com/ILoveBacteria/telegraph">GitHub</a>.
                    You can also contribute to the project.
                </p>
            </div>
            <div class="col">
                <h3>Free</h3>
                <p>
                    Because of our server costs, we are not able to provide free service for everyone. But we are trying to provide
                    free service for some special users. For further information, please contact us.
                </p>
            </div>
        </div>
    </main>
{% endblock %}
