{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <form class="needs-validation" action="/login/" method="post" novalidate>
        {% csrf_token %}
        <!--phone-->
        <div class="fieldWrapper mb-3">
            <div class="form-label">{{ form.phone.label_tag }}</div>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">+98</span>
                {{ form.phone }}
                {{ form.phone.errors }}
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}
