{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ block.super }}
    <script src="{% static 'home/login.js' %}"></script>
    <link href="{% static 'home/uicons-brands.css' %}" rel="stylesheet">
    <link href="{% static 'home/login.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="m-auto w-100 form-login">
        <!--logo-->
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
             x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"
             width="512" height="512" class="d-block mx-auto mb-3 logo">
            <g id="logo">
                <path style="fill-rule:evenodd;clip-rule:evenodd;"
                      d="M12,0C5.373,0,0,5.373,0,12s5.373,12,12,12s12-5.373,12-12S18.627,0,12,0z    M17.562,8.161c-0.18,1.897-0.962,6.502-1.359,8.627c-0.168,0.9-0.5,1.201-0.82,1.23c-0.697,0.064-1.226-0.461-1.901-0.903   c-1.056-0.692-1.653-1.123-2.678-1.799c-1.185-0.781-0.417-1.21,0.258-1.911c0.177-0.184,3.247-2.977,3.307-3.23   c0.007-0.032,0.015-0.15-0.056-0.212s-0.174-0.041-0.248-0.024c-0.106,0.024-1.793,1.139-5.062,3.345   c-0.479,0.329-0.913,0.489-1.302,0.481c-0.428-0.009-1.252-0.242-1.865-0.442c-0.751-0.244-1.349-0.374-1.297-0.788   c0.027-0.216,0.324-0.437,0.892-0.663c3.498-1.524,5.831-2.529,6.998-3.015c3.333-1.386,4.025-1.627,4.477-1.635   C17.472,7.214,17.608,7.681,17.562,8.161z"></path>
            </g>
        </svg>
        <!--title-->
        <h2 class="mb-2 text-center">Login</h2>
        <div class="mb-3 text-center text-muted w-75 mx-auto">Select your country then enter your phone number</div>
        <form action="/login/" method="post" id="form" novalidate>
            {% csrf_token %}
            <!--country-->
            <div class="fieldWrapper mb-3">
                <div class="form-label">{{ form.country.label_tag }}</div>
                {{ form.country }}
                {{ form.country.errors }}
            </div>
            <!--phone-->
            <div class="fieldWrapper mb-4">
                <div class="form-label">{{ form.phone.label_tag }}</div>
                <div class="input-group">
                    <span class="input-group-text" id="country_code">{{ county_code }}</span>
                    {{ form.phone }}
                    {{ form.phone.errors }}
                </div>
            </div>
            <button class="btn btn-primary w-100 btn-lg" type="submit" id="submit_button"
                    onclick="submitAndLoadingButton('submit_button', 'form')">
                Submit
            </button>
        </form>
    </div>
{% endblock %}
