{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ block.super }}
    <script src="{% static 'home/login.js' %}"></script>
    <link href="{% static 'home/login.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="m-auto w-100 form-login">
        <!--logo-->
        <img src="{% static 'home/icons/password.png' %}" class="d-block mx-auto mb-3 logo">
        <!--title-->
        <h2 class="mb-2 text-center">Verification Code</h2>
        <div class="mb-3 text-center text-muted w-75 mx-auto">Enter the code which you have received</div>
        <!--form-->
        <form action="/login/code/" method="post" id="form" novalidate>
            {% csrf_token %}
            <!--send code-->
            <div class="fieldWrapper mb-3">
                <div class="form-label">{{ form.code.label_tag }}</div>
                {{ form.code }}
                {{ form.code.errors }}
            </div>
            <button class="btn btn-primary btn-lg w-100" type="submit" id="submit_button"
                    onclick="submitAndLoadingButton('submit_button', 'form', 'Checking Code...')">
                Check Code
            </button>
        </form>
    </div>
{% endblock %}
