{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ block.super }}
    <script src="{% static 'home/login.js' %}"></script>
{% endblock %}
{% block content %}
    <form action="/login/password/" method="post" id="form" novalidate>
        {% csrf_token %}
        <!--send code-->
        <div class="fieldWrapper mb-3">
            <div class="form-label">{{ form.password.label_tag }}</div>
            {{ form.password }}
            {{ form.password.errors }}
        </div>
        <button class="btn btn-primary" type="submit" id="submit_button"
                onclick="submit_and_loading_button('submit_button', 'form', 'Validating Password...')">
            Send Password
        </button>
    </form>
{% endblock %}