{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ block.super }}
    <script src="{% static 'home/login.js' %}"></script>
{% endblock %}
{% block content %}
    <form action="/login/" method="post" id="form" novalidate>
        {% csrf_token %}
        <!--phone-->
        <div class="fieldWrapper mb-3">
            <div class="form-label">{{ form.phone.label_tag }}</div>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">+98</span>
                {{ form.phone }}
                {{ form.phone.errors }}
            </div>
        </div>
        <button class="btn btn-primary" type="submit" id="submit_button"
                onclick="submit_and_loading_button('submit_button', 'form')">
            Submit
        </button>
    </form>
{% endblock %}
