html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
}

.form-login {
  max-width: 310px;
}

.logo {
  max-width: 140px;
  max-height: 140px;
  fill: #26a4e3;
}
